/* 01/02/18 - Γκρι χρώμα στο background του περιεχομένου κάθε σελίδας, εκτός header και footer */
.t3-wrapper {
    background: #F4F4F4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Tinos" !important;
    padding-top: 0px;
}

p, body {
	font-family: "Trebuchet MS"  !important;	
}

body {
    padding-top: 0px  !important;
}

a, li a{
	font-family: "Trebuchet MS"  !important;	
}