.t3-footer {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #1A1A1A;
}

/* 06/02 */
@media screen and (min-width: 480px){
	.t3-footer-sl {
		padding: 25px 20px 15px 20px;
	}
}

.t3-footer-sl .t3-module {
	background: #1A1A1A;
}

/* 01/02/18 - Αλλαγή χρώματος και μεγέθους γραμματοσειράς των τίτλων των μενού στο footer */
.t3-footer-sl .t3-module .module-title {
	color: #D7D7D7;
}

/* 01/02/18 - Αλλαγή χρώματος των menu items που δεν είναι και links */
.t3-footer-sl .t3-module,
.t3-footer-sl .t3-module ul > li > a {
	color: #F4E409; /* 06/02 #7face4; #6090cc */
}

/* 01/02/18 - ?? Μηδενισμός περιθωρίου και αριστερή στοίχιση των menu items που είναι και links */
.t3-footer-sl .t3-module ul > li > a {
	padding: 0px;
}

/* 01/02/18 - Αλλαγή χρωμάτων στα menu items on hover/focus/active */
.t3-footer-sl .t3-module ul > li > a:hover, 
.t3-footer-sl .t3-module ul > li > a:active, 
.t3-footer-sl .t3-module ul > li > a:focus {
	color: rgb(255,255,102); /*#a0c7f2;*/
	background-color: transparent;	
}

.custom pre {
	display: none;
}

@media (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left !important;
	}
}

/*** Ώρες Λειτουργίας ***/
.demo-bg{
	background: #a5a5a4;
	margin-top: 10px;
}
.business-hours {
	background: #222; 
	padding: 40px 14px;
	margin-top: -15px;
	position: relative;
}
.business-hours:before{
	content: '';
	width: 23px;
	height: 23px;
	background: #111;
	position: absolute;
	top: 5px;
	left: -12px;
	transform: rotate(-45deg);
	z-index: -1;
}
.business-hours .title {
	font-size: 20px;
	color: #BBB;
	text-transform: uppercase;
	padding-left: 5px;
	border-left: 4px solid #ffac0c; 
}
.business-hours li {
	color: #888;
	line-height: 30px;
	border-bottom: 1px solid #333; 
}
.business-hours li:last-child {
	border-bottom: none; 
}
.business-hours .opening-hours li.today {
	color: #ffac0c; 
}