	/* Οριζόντια μπάρα γενικά, σε μικρές, μεσαίες και μεγάλες οθόνες */

	/* 02/02/2018 Ύψος μπάρας πλοήγησης, κατάργηση πλαισίου */
	.navbar {
		position: relative;
		min-height: 60px;/* 01/02/2018 55 */
		/*border: 1px solid transparent;*/
	}
	
	/* 02/02/18 - Ύψος μπάρας πλοήγησης */
	.navbar-fixed-top {
		height: 60px;
		position: relative;
	}
	
	/* 01/02/18 - Καθορισμός χρωμάτων για τη μπάρα πλοήγησης */
	.navbar-default {
		background-color:#413657;
		border-color:#0067A2; /*border-color: #312c81;*/
	}

	/* Κατάργηση πλαισίου */
	.t3-mainnav {
		border: none;
	}
	
	/* 02/02/18 - ?? */
	.t3-mainnav > .container {
		position: relative; /* 01/02/2018 initial */
		padding: 0px; /* 02/02/2018 */
		margin: 0px; /* 05/02/2018 */
	}
	
	/* 05/02/2018 - πλήρες πλάτος στα container divs, navigation bar, content, footer etc */
	@media (min-width: 480px){
		.container {
			width: 100%;
		}
	}

	
	/* Λογότυπο */
	
	/* καθορισμός θέσης λογότυπου με απόλυτες τιμές */
	.logo {
		position: absolute;
		border: none;
		padding: 0;	
		top: 5px;	
		left: 30px !important;
		z-index:3000;
	}
	
	/* 01/02/18 - Αφαίρεση background στο logo ΓΑΚ */
	.logo a {
		background-color:#413657;
	}

	/* 02/02/18 - Διατήρηση χρώματος φόντου όταν εστιάζει ο χρήστης στο λογότυπο */
	.logo-image > a:hover,
	.logo-image > a:focus,
	.logo-image > a:active{
		background-color:#413657; 
		/* να  */
	}	
	
	/* 01/02/18 - Αλλαγή μεγέθους logo ΓΑΚ και χρώματος φόντου 
	.logo-image > a > img {
		max-width: 100%;
	}
	*/
	/* 15/02/18 - Αλλαγή μεγέθους logo ΓΑΚ (μόνο για μεγάλες οθόνες */
	.logo-image > a {
		max-width: 320px;
		max-height: 55px;
	}
	*/

	
	/* Περιοχή αναζήτησης και αλλαγής γλωσσών */
	
	.head-search form {
		margin: 0;
	}

	.head-search, .navbar-toggle + .head-search{
		top: 5.5px;
		max-width: none;
		height: 50px;
	}
	
	@media screen and (min-width: 720px) {
		.head-search, .navbar-toggle + .head-search{
			right: 55px;
		}
	}

	@media screen and (max-width: 719px) {
		.head-search, .navbar-toggle + .head-search{
			right: 15px;
		}
	}	

	/* 01/02/18 - ?? */
	@media screen and (min-width: 640px) {
		.head-search .search {
			/* 02/02/2018 background: #312c81;/*background: #0067a2;*/
			right: 60px;
		}
		.mod-languages{
			float:right;
		}
		.jfontsize {
			position:relative;
			float:right;
			top:22px;
			left:74px;
		}
	}
	
	@media screen and (max-width: 639px) {
		.mod-languages{
			display:none;
		}	
		.jfontsize {
			display:none;
		}
	}
	
	/* 01/02/18 - ?? */
	.head-search .search {
		position: relative;
		background: #ffffff; /* #312c81; 02/02/2018 */
		margin: 6px;
		border: 2px solid #4040c0; /*#5050c0;edited color*/
		/*border-right: 2px solid #5050c0;#5050c0;edited color*/
		border-radius: 9px;
		height: 38px;
		width: max-content;
		float: right;
		top: -20px;
	}
	
	.head-search .search .fa-search {
		color: #333333;
		left: 6px;
		top: 9px;
	}

	/* 01/02/18 - ?? */
	.head-search .form-control {
		position: relative;
		border: 0;
		background: transparent;
		color: #bbe6ff;
		height: 49px;
		line-height: 35px;
		margin: 0;
		padding: 10px 15px 10px 40px;
		width: 0;
		-webkit-transition: width 0.2s;
		-o-transition: width 0.2s;
		transition: width 0.2s;
		bottom:7px;
		autofocus: autofocus;
	}
	
	#mod-search-searchword {
		color:black;
		position:inherit;
	}

	/* 01/02/18 - ?? */

	
	/* 02/02/18 - ?? */

	/* 02/02/18 - ?? */	
	.jfontsize-button {
		border: solid 1px #248d31 !important;
		border-radius: 5px; /* 05/02 */
	}
	
	.jfontsize > a {
		color: white;
	}	
	
	
	/* Megamenu */
	
	.t3-mainnav .t3-navbar {
		float: left;
		position: relative;
		left: 0;
		top: 0;
	}
	
	/* 05/02/2018 */
	@media (min-width: 991px){
		.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
			width:100%;
		}
	}
	
	@media (min-width: 991px){
		.navbar-nav {
			margin: 0;
			display: block;
			width: 100%;
		}
	}
	
	/* 02/02/2018 */
	@media screen and (min-width: 991px){
		.navbar-default .navbar-nav > li {
			margin-left: 0px;
			width: 100% /* 05/02/2018 */
		}
	}
	
	/* 02/02/2018 */
	@media (min-width: 991px){
		.nav > li > .separator {
			padding-top: 0px;
			padding-bottom: 0px;
			left: 47.8%;
			top:30px;
			width:60px;
			z-index: 2000;
		}
	}
	
	/* 02/02/2018 */
	.nav > li > .separator {
		padding: 0px;
	}
	
	/* 01/02/18 - ?? */
	.t3-megamenu .mega-align-justify > .dropdown-menu {
		left: 0;
		margin-left: 0;
		top: 60px;
		padding-top:32px; /* 06/02 */
		padding-left:20px; /* 06/02 */
		padding-right:20px; /* 06/02 */
	}

	/* 01/02/18 - ?? */
	.dropdown-menu {
		border: none;
		/*position:relative;*/
	}
	
	/* 01/02/18 - ?? */
	.t3-megamenu .nav > .dropdown > .dropdown-toggle .caret {
		display: none;
	}

	/* 01/02/18 - ?? */
	.t3-megamenu .mega-dropdown-menu {
		color: #000000;
		background-color: #BFBCC7; /* 06/02 background-color: black; */
	}
	
	/* 01/02/18 - ?? */
	.t3-megamenu .dropdown-menu .mega-nav > li a,
	.t3-megamenu .mega-nav > li a {
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;	
		color: inherit;
	}
	
	/* 01/02/18 - ?? */
	.t3-megamenu .dropdown-menu .mega-nav > li a:hover,
	.t3-megamenu .dropdown-menu .mega-nav > li a:active,
	.t3-megamenu .dropdown-menu .mega-nav > li a:focus,	
	.t3-megamenu .mega-nav > li a:hover, 
	.t3-megamenu .mega-nav > li a:active, 
	.t3-megamenu .mega-nav > li a:focus {
		background-color: transparent;
		color: #882222;
		/*text-shadow: 0px 0px 0px #882222;*/
	}
	
	/* 06/02 */
	.t3-megamenu .mega-nav > li, .t3-megamenu .dropdown-menu .mega-nav > li {
		border-bottom: 1px dotted #515151;
	}	

	/* 06/02 */
	.t3-megamenu .mega-nav > li.active > a, 
	.t3-megamenu .dropdown-menu .mega-nav > li.active > a {
		color: #882222;
		background: inherit;
	}	
	
	/* 06/02 */	
	.t3-megamenu .mega-nav > li:first-child, .t3-megamenu .dropdown-menu .mega-nav > li:first-child {
		border-top: 1px solid #515151;
	}
	
	.t3-megamenu .mega-nav > li .separator {
		display: block;
		padding: 5px 5px 5px 10px;
	}
	
	.t3-megamenu .mega-inner {
		padding: 10px 3px 13px 0px;
	}