	/* ----   ΕΝΑΡΞΗ JOOMLA II GENERAL CSS  ---- */

	h1, .h1 {
		font-size: 24px;
		text-align: center;
	}

	h2, .h2 {
		font-size: 24px;
		text-align: left;
	}

	/* layout and formatting of article's content */
	article {
		padding: 15px 5px 0 5px;
		/*background-color: white;*/
		margin-left: 15px;
		margin-right: 15px;
	}

	.article-title, .article-header h1 {
		margin: 30px 0 20px 0 !important;
	}	

	/* ----   ΤΕΛΟΣ PURITY III GENERAL CSS  ---- */
	
	
	/* ----   ΕΝΑΡΞΗ PURITY III GENERAL CSS  ---- */
	
	/* 01/02/18 - ?? */
	.t3-mainbody {
	  padding-top: 0px;
	  padding-bottom: 0px;
	}

	/* 22/02 */
	.t3-content {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	
	/* 22/02 */
	.item-page {
		margin-bottom: 0px !important;
	}
	
	/*
	#Mod176 {
		padding-top: 60px;
		padding-bottom: 0px;		
	}

	#Mod176 .slides_control {
		height: 140px !important;
	}	
	*/

	/* ----   ΤΕΛΟΣ PURITY III GENERAL CSS  ---- */
	
	
	/* ----   ΕΝΑΡΞΗ PURITY III BLOG, MAGAZINE ETC LAYOUT CSS  ---- */
	
	.blog-featured .items-leading, 
	.blog-featured .items-leading .leading, 
	.blog-featured .items-row, 
	.blog-featured .items-row .item {
		margin-bottom: 10px !important;
	}
	
	.blog-featured .items-row .item .article-header .article-title {
		margin-top: 0px !important;
		margin-bottom: 15px !important;
	}	
	
	.magazine .t3-mainbody .row .t3-content .page-header {
		padding-top: 60px !important;
	}
	
	/*  12/03/18 Αλλαγή της θέσης του πλαισίου που εμφανίζει σε dropdown list */
	.pull-right > .dropdown-menu {
		min-width: 140px;
		left:0px;
		text-align: center;
	}
	/* κεντράρισμα εικονιδίων εκθέσεων πεπραγμένων article img, .article-intro img*/	
		article img, 
		.article-intro img {
		display: initial;
		/*max-width: 100px;*/
		/*height: auto;*/
	}
			
	/* 08/03/18 Αλλαγή διαστάσεων images σε μικρότερες οθόνες */
	@media screen and (max-width: 992px) {
	article img, 
	.article-intro img {
		max-width: 100px;
	}
		
	}
	@media screen and (max-width: 400px) {
	article img, 
	.article-intro img {
		max-width: 100px;
	}
	}

	/* ----   ΤΕΛΟΣ PURITY III BLOG, MAGAZINE ETC LAYOUT CSS  ---- */
	
	
	/* ----   ΕΝΑΡΞΗ CALL TO ACTION, HOMEPAGE TOP ΟΡΙΖΟΝΤΙΟ ACCORDION CSS  ---- */

	.corporate .slideshow {
		background: #5f3838;
		border-bottom: 0 !important;
		padding: 0 0 0 0 !important;/*0px;*/
		box-shadow: 0px 0px 3px 2px grey;
	}
	
	/* 15/02/18 - CSS για το accordion-slider */
	.flexbox-slider {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  width: 100%;
	  height: 280px;
	  visibility: hidden;
	  margin-bottom: 30px;
	}

	.flexbox-slider .flexbox-slide {
	  -webkit-transition-property: all;
	  transition-property: all;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: linear;
	  transition-timing-function: linear;
	  -webkit-transition-delay: 0s;
	  transition-delay: 0s;
	  width: 100%;
	  height: 100%;
	  position: relative;
	  overflow: hidden;
	  cursor: pointer;
	  visibility: visible;
	  border: none;
	  padding: 0px;
	  margin: 0px;
	}

	.flexbox-slider .flexbox-slide:after {
	  position: absolute;
	  top: 0;
	  left: 0;
	  content: "";
	  display: block;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(255, 255, 255, 0.6);
	  z-index: 2;
	  opacity: 0;
	}

	.flexbox-slider .flexbox-slide img {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  height: auto;
	  width: auto;
	  min-width: 100%;
	  min-height: 100%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  z-index: 1;
	}

	.flexbox-slider .flexbox-slide .text-block {
	  position: relative;
	  /*left: 30px;*/
	  top: 65%;
	  /*max-width: 400px;*/
	  padding: 5px;
	  border-radius: 5px;
	  background-color: rgba(0, 0, 0, 0.7);
	  color: #fff;
	  z-index: 4;
	  visibility: visible;
	  text-align: center;
	}
	
	@media screen and (max-width: 720px){
		.flexbox-slider .flexbox-slide .text-block {
			margin: 5px 4px 5px 4px;
		}
		.flexbox-slider .flexbox-slide .text-block h3 {
		  font-size: 16px;
		  font-weight: 600;
		}
		.flexbox-slider:hover .flexbox-slide:hover {
		  -ms-flex-negative: 0;
		  flex-shrink: 0;
		  width: 40%;
		}
	}

	@media screen and (min-width: 721px) and (max-width: 820px){
		.flexbox-slider .flexbox-slide .text-block {
			margin: 5px 6px 5px 6px;
		}
		.flexbox-slider .flexbox-slide .text-block h3 {
		  font-size: 18px;
		  font-weight: 600;
		}
		.flexbox-slider:hover .flexbox-slide:hover {
		  -ms-flex-negative: 0;
		  flex-shrink: 0;
		  width: 45%;
		}
	}	

	@media screen and (min-width: 821px){
		.flexbox-slider .flexbox-slide .text-block {
			margin: 5px 10px 5px 10px;
		}
		.flexbox-slider .flexbox-slide .text-block h3 {
		  font-size: 18px;
		  font-weight: 600;
		}
		.flexbox-slider:hover .flexbox-slide:hover {
		  -ms-flex-negative: 0;
		  flex-shrink: 0;
		  width: 50%;
		}
	}		
	
	.flexbox-slider .flexbox-slide .text-block .text {
		display: none;
	}	

	.flexbox-slider:hover .flexbox-slide:hover .text-block .text {
		display: block;
	}	
	
			/*-- 19/10/18 ΜΑΘΕΤΕ ΠΩΣ ΔΙΑΧΕΙΡΙΖΟΜΑΣΤΕ ΤΑ ΑΡΧΕΙΑ  --*/
			iframe {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			
			/*-- ΤΕΛΟΣ ΜΑΘΕΤΕ ΠΩΣ ΔΙΑΧΕΙΡΙΖΟΜΑΣΤΕ ΤΑ ΑΡΧΕΙΑ  --*/
	
	

	/* ----   ΤΕΛΟΣ CALL TO ACTION, HOMEPAGE TOP ΟΡΙΖΟΝΤΙΟ ACCORDION CSS  ---- */	

	
	/* ----   ΕΝΑΡΞΗ SPOTLIGHT BLOCKS CSS  ---- */
	
	.corporate .t3-sl-1, .corporate .t3-sl-3 {
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 20px;
		padding-top: 0px;
		box-shadow: 0px 0px 4px 1px grey;
		background-color: #ffffff;
	}
	
	.corporate .t3-sl-1 {
		margin-top: 45px;
		padding-bottom: 0px !important;			
	}	
	
	.corporate .t3-sl-3 {
		margin-top: 10px;
		padding-bottom: 10px !important;
	}	
	
	.corporate .t3-sl-1 .t3-spotlight-1 > div.col-lg-12.col-md-12.col-sm-12.col-xs-12,
	.corporate .t3-sl-3 .t3-spotlight-3 > div.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
		background-color: rgb(77, 74, 90);
		color: #ffffff;
	}

	.corporate .t3-sl-1 .t3-spotlight-1 > div.col-lg-6.col-md-6.col-sm-12.col-xs-12,
	.corporate .t3-sl-3 .t3-spotlight-3 > div.col-lg-6.col-md-6.col-sm-12.col-xs-12 {
		padding-left: 3px;
		padding-right: 3px;
	}
	
	.corporate .t3-sl-2 {
		padding-left: 15px !important;
		padding-right: 15px !important;
		padding-top: 15px !important;
		padding-bottom: 0px !important;
	}		
	
	/* spotlight 1 k 3, προσεχείς, έκτακτες titles */
	#Mod216 .module-inner .module-title, #Mod215 .module-inner .module-title {
		margin-bottom: 10px !important;
		margin-top: 10px !important;
	}	
	
	/* spotlight 3, έκτακτες ΚΥ ΠΥ */
	#Mod199, #Mod213 {
		padding-top: 0px;
		padding-bottom: 0px;		
		margin-bottom: 0px;
		margin-top: 15px;
	}
	
	#Mod199 .module-title, #Mod213 .module-title {
		margin-bottom: 0px;
		margin-left: 9px; 
	}
			
	#Mod199 .bt-cs .bt-inner, #Mod213 .bt-cs .bt-inner {
		height: 85px !important;
		box-shadow: none;
		border-radius: 0px !important;
		border-left: 5px solid #b5bbc7;
	}

	/* spotlight 1, προσεχείς ΚΥ ΠΥ */	
	#Mod171, #Mod202 {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 12px;		
	}
	
	#Mod171 .module-title, #Mod202 .module-title{
		margin-bottom: 9px;
	}
	
	/* spotlight 1, slideshowCK */	
	#Mod230 {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-top: 0px;
	}
	
	.camera_target {
		width: 66% !important;
	}
	
	.camera_caption_title {
		height: 260px;
	}
	
	/* spotlight 2, 3+3 boxes */
	#Mod138 .bt-cs .bt-inner img, #Mod139 .bt-cs .bt-inner img {
		height: 150px !important;
	}	
	
	#Mod138 {
		padding-top: 0px;
		padding-bottom: 0px;		
	}

	#Mod139 {
		padding-top: 30px;
		padding-bottom: 30px;		
	}

	/* spotlight 2, 2 boxes */
	#Mod214 {
		margin-top: 25px;
		margin-bottom: 25px;	
	}	
	
	#btcontentslider214 .slides_container .slides_control .slide .bt-row .bt-inner {
		border-radius: 4px !important;
		height: 170px !important;
	}	

	#btcontentslider214 .slides_container .slides_control {
		height: 180px;
	}		
	
	/* Homepage content, Spotlight boxes, btcontentslider module */
	.bt-cs .bt-inner {
		border-radius: 4px !important;
		/*margin-left: 5px !important;*/
		/*margin-right: 13px !important;*/
	}
	
	/* ----   ΤΕΛΟΣ SPOTLIGHT BLOCKS CSS  ---- */

	
	/* ----   ΕΝΑΡΞΗ ΠΡΟΚΗΡΥΞΕΙΣ CSS  ---- */
	.page-masthead{
		margin-top: 45px;
		margin-bottom: 45px;
	}
	
	#Mod217 {
		background-color: white;
		box-shadow: 0px 0px 4px 1px grey;
	}	

	.page-masthead .row-feature {
		padding-top: 0px;
		padding-bottom: 20px;
		margin-left: 40px;
		margin-right: 40px;
	}
	
	.page-masthead .row-feature-title {
		margin-bottom: 20px;
		margin-top: 0px;
		background-color: rgb(77, 74, 90);
		font-family: "Tinos" !important;
		font-size: 18px;
		font-weight: bold;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}

	.page-masthead .row-feature-ct {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.vina-accordion-content .accordion-close span,
	.vina-accordion-content .accordion-open span {
	    top: 7px !important;
	}
	
	.vina-accordion-content .accordion-close span {
		background-color: white !important;
		border-radius: 5px;
	}
	
	.vina-accordion-content .accordion-open span {
		background: none !important;
		display: none;
	}
	
	.vina-accordion-content .vina-accordion-item{
		padding: 6px !important;
	}
	
	
	.vina-accordion-content .vina-accordion-item {
		display: flex;
	}
	
	#vina-accordion-content217 .vina-accordion-container {
		padding: 10px;
		background: none !important;
		color: #333333;
	}
	
	/* ----   ΤΕΛΟΣ ΠΡΟΚΗΡΥΞΕΙΣ CSS  ---- */
	

	/* ----   ΕΝΑΡΞΗ ΛΙΣΤΩΝ CSS, ΠΧ ΔΙΕΥΘΥΝΣΕΙΣ - ΤΗΛΕΦΩΝΑ ΓΑΚ  ---- */
	.row-fluid {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	
	/* τηλέφωνα - διευθύνσεις */
	/*#Mod122 .module-inner .module-ct .page-header .fabrikForm*/
	.fabrikDataContainer {
		overflow-y:scroll;
		max-height: 450px;
		min-height: 350px;
	}

	/* διεθνείς οργανισμοί */
	/*
	#listform_9_com_fabrik_9 .fabrikDataContainer, 	#listform_9_com_fabrik_178 .fabrikDataContainer {
		overflow-y:visible !important;
		min-height: 350px !important;
	}
	*/	
	
	.pull-left{
		display:none;
	}
	.pull-right{
		float: left !important;
	}
	
	.test___name {
		min-width: 240px;
	}
	.test___tel {
		min-width: 110px;
	}
	.test___address {
		min-width: 100px;
	}	

	.fabrikDataContainer > table > tbody {
		top: 25px !important;
		position: relative;
	}	
	
	.fabrikorder .icon-menu-2 {
		display: none;
	}
	
	.fabrik_groupheading > td {
		background-color: #316077 !important;
	}

	.fabrik_groupheading > td > a {
		color: white !important;
	}	
	
	.fabrik_actions{
		display:none;
	}

	/* ----   ΤΕΛΟΣ ΛΙΣΤΩΝ CSS, ΠΧ ΔΙΕΥΘΥΝΣΕΙΣ - ΤΗΛΕΦΩΝΑ ΓΑΚ  ---- */	
	
	
	/* ----   ΕΝΑΡΞΗ SLIDERS ΕΝΤΟΣ ΑΡΘΡΟΥ CSS  ---- */
	
	.rl_sliders.accordion>.accordion-group>.accordion-body>.accordion-inner {
		padding: 0px 15px 15px 15px !important;
	}

	.rl_sliders.accordion>.accordion-group.blue.solid>.accordion-heading>a.accordion-toggle {
		background-color: #413657;
		color: #F4F4F4;
	}

	.rl_sliders.accordion>.accordion-group.blue:hover.solid>.accordion-heading>a.accordion-toggle {
		background-color: #BFBCC7;
		color: #303030;
	}
	
	.rl_sliders.accordion>.accordion-group.blue.solid.active, .rl_sliders.accordion>.accordion-group.blue.solid:hover {
		border-color:  rgb(204,204,204);
	}
	
	.rl_sliders.accordion>.accordion-group.blue.active.solid>.accordion-heading>a.accordion-toggle, .rl_sliders.accordion>.accordion-group.blue:hover.solid>.accordion-heading>a.accordion-toggle {
		background-color: rgb(204,204,204);
		color: #303030;
		text-decoration: none;
	}
	
	.rl_sliders.accordion>.accordion-group.blue {
		border-top: 2px solid #e5e5e5 !important;
		border-radius: 4px 4px 4px 4px !important;
	}
	
	/* ----   ΤΕΛΟΣ SLIDERS ΕΝΤΟΣ ΑΡΘΡΟΥ CSS  ---- */

	
	/* ----   ΕΝΑΡΞΗ ΗΜΕΡΟΛΟΓΙΟΥ CSS  ---- */
	
	#dp-calendar{
		padding-top: 40px;
	}

	#dp-calendar-toggle {
		display: none !important;
	}
	
	#dp-calendar-calendar {
		/*width: 44%;*/
		display: inline-block;
	}

	#dp-calendar-map {
		/*width: 53% !important;*/
		display: inline-block;
		position: relative !important;
		/*margin-left: 15px !important;*/
		/*margin-top: 57px !important;*/
	}
	
	#dp-calendar-loader-image{
		display:none;
	}
	
	.fc-center {
		display:inline !important;
	}
	
	/* ύψος ημερολογίου (grid) */
	@media screen and (min-width: 768px){
		.fc-scroller {
			height: 368px !important;
			overflow-y: hidden !important;
		}
	}
	
	#dp-module-mini-173 .fc-toolbar {
		display: none;
	}
	
	/* ----   ΤΕΛΟΣ ΗΜΕΡΟΛΟΓΙΟΥ CSS  ---- */

	
	/* ----   ΕΝΑΡΞΗ ΕΚΔΟΣΕΩΝ CSS  ---- */
	/*	20/03/18 Αλλαγή θέσης μεγευθ. φακού στο search */
	
	.js-stools .btn-wrapper {
		display: inline-flex;
	}
	
	.js-stools-field-filter > select {
		display: initial !important;	
		
	}
	
	.cover img {
		max-height: 200px;
	}
	
	.badge {
		font-size: 20px;
	}
	
	.pull-right {
		display: block;
		
	}
			
	/* 26/03/18 Εμφάνιση cover κατά την επιλογή κάποιου βιβλίου */
	.modal {
		display: contents;			
	}
	
	/* map with flags */
	.intro_image {
		margin: 0 0 10px 0 !important;
	}
	
	.bt-cs .bt-row {
		padding: 0px !important;
	}
	
	/* 17/8/18 Εκδόσεις - μορφοποίηση τίτλου */
	.blogbookH1 {
		padding-top: 20px;
	}
	
	.item-pagebookH1 {
		margin-top: 35px;
	}

	.dpcalendar-locations-container {
		padding-top: 20px;
	}
	
	/* ----   ΤΕΛΟΣ ΕΚΔΟΣΕΩΝ CSS  ---- */
	
	
	/* ----   ΕΝΑΡΞΗ TIMELINE CSS  ---- */

	/* 06/02/18 - Αλλαγή τίτλου σε module jtimeline */
	#Mod147 h3.module-title {
		color: inherit;
		font-size: 22px;
		font-weight: bold;
		text-align: center;
	}

	#Mod147 h1.h1 {
		text-align: center;
	}

	.timeline-item .item-time{
		display:none;
	}

	.timeline-breaker{
		padding: 0.4em !important;
		background: #d7ccc8 !important;
		color: black !important;
		font-size: 16px !important;
	}

	.timeline-breaker time{
		display: none;
	}

	.timeline-breaker:before{
		content: 'Ίδρυση';
	}

	.timeline-breaker:after {
		display:none !important;
	}

	.timeline-item .post-inner {
		padding: 15px;    
		background: #f5f5f5;
		border: 1px solid #dde2ec;
		border-radius: 4px;
		/* width: 250px; */
	}
	
	.timeline_footer {
		display: none;
	}

	/* 06/02 εφαρμογή μονόστηλης timeline σε οθόνες μικρού πλάτους */
	@media screen and (max-width: 768px){
		.timeline {
			padding: 0 16px 20px;
		}
		.timeline .timeline-breaker {
			margin: -16px;
		}
		.timeline .timeline-breaker:after {
			margin: 0 0 -44px -21px;
		}
		.timeline.timeline,
		.timeline {
			background-position: 16px top;
			text-align: left;
		}

		.timeline.timeline .timeline-item,
		.timeline .timeline-item,
		.timeline.timeline .timeline-item.odd,
		.timeline .timeline-item.odd
		{
			float: none;
			clear: both;
			width: -moz-calc(100% - 45px);
			width: -webkit-calc(100% - 45px);
			width: -o-calc(100% - 45px);
			width: calc(100% - 45px);
			margin: 45px;
			margin-right: 0;
			margin-top: 60px;
			left: auto;
			right: auto;
		}
		.timeline.timeline .timeline-item:after,
		.timeline .timeline-item:after,
		.timeline.timeline .timeline-item.odd:after,
		.timeline .timeline-item.odd:after,
		.timeline.timeline .timeline-item:before,
		.timeline .timeline-item:before,
		.timeline.timeline .timeline-item.odd:before,
		.timeline .timeline-item.odd:before{
			right: auto;
			left: -20px;
			margin: 0;
			top: 20px;
			text-align: right;
		}
		.timeline.timeline .timeline-item:before,
		.timeline .timeline-item:before,
		.timeline.timeline .timeline-item.odd:before,
		.timeline .timeline-item.odd:before{
			content:'\f0d9'; /* fa-caret */
		}

		.timeline.timeline .timeline-item:after,
		.timeline .timeline-item:after,
		.timeline.timeline .timeline-item.odd:after,
		.timeline .timeline-item.odd:after {
			left: -60px;
		}

		.timeline .timeline-item .item-time,
		.timeline .timeline-item.odd .item-time {
			float: left;
			clear: both;
		}	
		
	}

	/* ----   ΤΕΛΟΣ TIMELINE CSS  ---- */
	
	
	/* 11/09/18 font - editor */
	.wf-editor-container,
	.wf-editor-container * {
		font-family: "trebuchet ms", sans-serif !important;
		font-size: 1.0em !important;
	}
		
		
		
		
		
		
		